params {
    vcf = '/home/ubuntu/divassociate/data/bridge_core1000.vcf.gz'
    // miappe = '/home/ubuntu/divassociate/data/bridge_isatab/'
    // variable = 'AWNS_LENGTH'
    // covars = '/home/ubuntu/divassociate/data/covar.txt'
    observations = '/home/ubuntu/divassociate/data/observations.csv'
    samples = '/home/ubuntu/divassociate/data/germplasm.csv'
    outdir = '/home/ubuntu/divassociate/outdir'
}

docker {
    enabled = true
}

report {
    overwrite = true
}

dag {
    overwrite = true
}

timeline {
    overwrite = true
}