params {
    vcf = '/home/ubuntu/divassociate/data/bridge_1Hpartial_3130variants_core1000.vcf.gz'
    miappe = '/home/ubuntu/divassociate/data/bridge_isatab/'
    genoFile = '/home/ubuntu/divassociate/data/geno.txt'
    mapFile = '/home/ubuntu/divassociate/data/map.txt'
    phenoFile = '/home/ubuntu/divassociate/data/pheno.txt'
    covarFile = '/home/ubuntu/divassociate/data/covar.txt'
    outdir = '/home/ubuntu/divassociate/outdir'
}

docker {
    enabled = true
}