params {
    vcf = '/home/ubuntu/divassociate/data/bridge_core1000.vcf.gz'
    observations = '/home/ubuntu/divassociate/data/observations.csv'
    samples = '/home/ubuntu/divassociate/data/germplasm.csv'
    outdir = '/home/ubuntu/divassociate/outdir'
}

docker {
    enabled = true
}

report {
    overwrite = true
}

dag {
    overwrite = true
}

timeline {
    overwrite = true
}

process {
    // withLabel: default {
    //     cpus = 2
    //     memory = 4.GB
    // }
    withLabel: tiny {
        cpus = 1
        memory = 2.GB
    }
}
